pool: Default

steps:
- task: Npm@1
  displayName: 'npm install'
  inputs:
    verbose: false

- script: 'node make.js build --task FtpUploadV1'
  displayName: 'Command Line Script'

- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/_build'
    includeRootFolder: false

- task: PublishPipelineArtifact@0
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
